apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  labels:
    app: hello-app
    app.kubernetes.io/instance: hello-app
spec:
  replicas: 1
  revisionHistoryLimit: 0  
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        image: bastion.ocp.tangram-soft.com:8443/myproject/hello-app:0393581
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: hello-app
  labels:
    app: hello-app
    app.kubernetes.io/instance: hello-app
spec:
  selector:
    app: hello-app
  ports:
  - port: 80
    targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: hello-app
  labels:
    app: hello-app
    app.kubernetes.io/instance: hello-app
spec:
  to:
    kind: Service
    name: hello-app
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect

